{% extends 'base.html' %}
{% block content%}

<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    About us <br><small>Welcome to this app.</small></h1>
            </div>
        </div>
    </div>
</div>



<div class="container">
  <h1>Hello World!</h1>
  <p>Resize the browser window to see the effect.</p>
  <div class="row">

    <div class="col-9 col-sm-6 col-md-6">
    <p class="text-justify">
    	For a simple way to manage your tasks, apps that follow the Grocery List method—that let you just list the things you need to do one after another, like you list the groceries you need to buy—are best. Some include just task lists, others come with extra features like notes or due dates. The main focus though is just on listing the things you need to do.</p>

    </div>

    <div class=" col-9 col-sm-6 col-md-6">
    	<p class = "text-justify">
      Sometimes it's hard to know what to do next, even with lists of tasks and due dates. Instead of showing all of the tasks due today, Microsoft To-Do gives you a clean slate in the My Day list each morning so you can decide what's most important. Tap the lightbulb for suggested tasks—including due and overdue tasks, along with those Microsoft thinks you might want to do today.
</p>
    </div>


    
  </div>

</div>

{% endblock %}